.Menu{
    font-size: 2rem;
    border: 0px solid white;
    position: fixed;
    top: 100px;
    left: 40px;

    li{
        cursor: pointer;
        animation: test .3s ease-out forwards;
        opacity: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-top: 10px;
        transition: 0.3s;

        &:hover{
            color: rgb(79, 141, 180);
            letter-spacing: 2px;      
        }

        &:hover::after{
            transform: translateX(0);
            transition: 0.2s;
        }

    }
    
}

li::after{
    content: "";
    background-color: rgb(79, 141, 180);
    width: 100px;
    height: 3px;
    transform: translateX(-100%);
    border-radius: 50%;
}

.active-item{
    color: rgb(34, 94, 137);
    letter-spacing: 2px;
}

.active-item::after{
    content: "";
    background-color: rgb(34, 94, 137);
    width: 100px;
    height: 3px;
    border-radius: 50%;
    transform: translateX(0);
    box-shadow: 2px 2px 5px black;
}


#CounterBox{
    animation-delay: 0s;
}

#FigureBox{
    animation-delay: .1s;
}

#Testing{
    animation-delay: .2s;
}

#Something{
    animation-delay: .3s;
}

#DropDownBox{
    animation-delay: .4s;
}

#MoveInGridBox{
    animation-delay: .5s;
}

@keyframes test {
    from{
        transform: translateX(-200px);
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}