.Menu{
    font-size: 2rem;
    border: 0px solid white;
    position: fixed;
    top: 100px;
    left: 80px;

    li{
        cursor: pointer;
        animation: test .3s ease-out forwards;
        opacity: 0;

        &:hover{
            color: rgb(79, 141, 180);
        }
    }
}

#CounterBox{
    animation-delay: 0s;
}

#FigureBox{
    animation-delay: .1s;
}

#Testing{
    animation-delay: .2s;
}

#Something{
    animation-delay: .3s;
}

@keyframes test {
    from{
        transform: translateX(-200px);
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}