.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    select{
        background-color: darkcyan;
        border-radius: 10px;
        width: 290px;
        height: 40px;
        color: white;
        font-family: "Annie Use Your Telescope", cursive;
        font-size: 1.5rem;
        text-shadow: 2px 2px 2px black;
        text-align: center;
        box-shadow: 2px 2px 5px black;
        transition: .5s;
        margin-right: 5px;

        &:hover{
            background-color: rgb(1, 163, 163);
        }

        option{
            background-color: rgb(37, 37, 37);

        }
    }
}
