.Bio {
    width: 300px;
    height: 400px;
    border: 1px solid darkslategray;
    border-radius: 10px;
    background-color: rgba(50, 59, 59, 0.932);
    position: absolute;
    padding: 10px;
    font-size: 1.5rem;
    line-height: 18px;
    display: none;
    box-shadow: 3px 3px 8px black,
    inset 2px 2px 2px white,
    inset -2px -2px 5px black;
    pointer-events: all;
    animation: rotate .3s ease-in-out;

    button{
        background-color: transparent;
        color: white;
        width: 20px;
        height: 20px;
        float: right;

        &:hover{
            background-color: rgba(0, 0, 0, 0.507);
        }

        
    }
}

.hidden {
    display: block;
}

.small-picture{
    width: 130px;
    height: 130px;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 5px solid rgb(79, 141, 180);
    box-shadow: 2px 2px 5px black,
    inset 2px 2px 2px white,
    inset -2px -2px 5px black;
    margin: 30px auto;
}

.fade{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.39);
    position: absolute;
    pointer-events: none;
    backdrop-filter: blur(5px);
    display: none;
    justify-content: center;
    align-items: center;
    animation: fader 0.7s ease;
    
}

.view-fade{
    display: flex;
}

@keyframes fader {
    from{backdrop-filter: blur(0px);}

    to{backdrop-filter: blur(5px);}
}

@keyframes rotate {
    from{
        transform: rotate(180deg) scale(0);
    }
    to{
        transform: rotate(360deg) scale(1);
    }
}
