.Grid{
    width: 600px;
    height: 300px;
    background-color: rgba(2, 2, 2, 0.14);
    border: 1px solid darkcyan;
    display: grid;
    grid-template-columns: repeat(12, 50px);
    grid-template-rows: repeat(6, 50px);
}

.fire{
    background-image: url(../../../../public/fire.gif);
    background-size: contain;
    height: 50px;
    width: 100px;
    display: none;
}

.show-fire{
    display: block;
}