.InfoBox{
    width: 300px;
    background-color: darkslategray;
    background: linear-gradient(90deg, darkslategray, rgb(59, 94, 94));
    margin-top: 30px;
    border: 1px solid darkcyan;
    border-radius: 10px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    box-shadow: 2px 2px 5px black;

    ul{
        list-style: none;

        li{
            margin: 30px 0;
            border-bottom: 1px solid black;

            span{
                color: rgb(135, 180, 221);
            }
        }
    }
}