.FigureBox{
        width: 850px;
        height: 600px;
        padding: 30px 40px;
        padding-right: 60px;
        background: rgb(29,29,29);
        background: linear-gradient(360deg, rgba(29,29,29,1) 0%, rgb(61, 61, 61) 100%);
        border: 1px solid black;
        border-radius: 30px;
        display: flex;
        gap: 35px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px lightblue;
        position: relative;
        animation: scale 0.7s ease-out ;
        display: none;
    
        h2{
            position: absolute;
            bottom: 10px;
            right: 20px;
            letter-spacing: 3px;
        }
    
    }
    
    @keyframes scale {
        from{transform: scale(0);}
        to{transform: scale(1);}
}

.show{
    display: flex;
}

