.Button{
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    font-family: "Annie Use Your Telescope", cursive;
    color: white;
    background-color: rgba(0, 0, 0, 0.243);
    box-shadow: 2px 2px 5px black,
        inset 1px 1px 2px white,
        inset -2px -2px 3px black;
    transition: .3s;
    font-size: 1.6rem;
    letter-spacing: 5px;

        

    &:hover{
        border: 0px solid darkslategray;
        box-shadow: 2px 2px 5px black,
        inset 2px 2px 4px black,
        inset -2px -2px 3px darkslategray;
        letter-spacing: 7px;
    }
}