.Character{
    /* grid-area: 5 / 2; */
    transform: scaleX(-1);
    z-index: 2;
}

.mirror{
    transform: scaleX(1);
}

.fire{
    background-image: url(../../../../public/fire.gif);
    background-size: contain;
    height: 50px;
    width: 100px;
    display: none;
    z-index: 2;
}

.fire2-left{
    width: 550px;
    height: 10px;
    border: 0px solid black;
    margin-top: 20px;
    display: none;
    align-items: center;
    transform: translateX(-100%);

    .bullets, .bullets2, .bullets3{
        width: 20px;
        height: 10px;
        border-radius: 50%;
        background-color: darkcyan;
        box-shadow: inset 1px 1px 1px white,
        inset -2px -2px 3px black;
        
        opacity: 0;

    }

    .bullets{
        animation: shoot-left .6s infinite;
    }

    .bullets2{
        animation: shoot-left .6s 0.2s infinite;
    }

    .bullets3{
        animation: shoot-left .6s 0.4s infinite;
    }

}

.fire2{
    width: 550px;
    height: 10px;
    border: 0px solid black;
    margin-top: 20px;
    display: none;
    align-items: center;

    .bullets, .bullets2, .bullets3{
        width: 20px;
        height: 10px;
        border-radius: 50%;
        background-color: darkcyan;
        box-shadow: inset 1px 1px 1px white,
        inset -2px -2px 3px black;
        opacity: 0;

    }

    

    .bullets{
        animation: shoot .6s infinite;
    }

    .bullets2{
        animation: shoot .6s 0.2s infinite;
    }

    .bullets3{
        animation: shoot .6s 0.4s infinite;
    }
}

.talk{
    width: 120px;
    font-size: .8rem;
    background-color: rgba(0, 0, 0, 0.099);
    border-radius: 50% 50% 50% 0;
    display: none;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 139, 139, 0.555);
    animation: fade 1s forwards;
    opacity: 0;
}

.show-fire{
    display: flex;
}




@keyframes shoot {
    from{
        opacity: .3;
    }
    to{
        transform: translateX(600px);
        opacity: 1;
    }
}

@keyframes shoot-left {
    from{
        transform: translateX(600px);
        opacity: .3;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade {
    to{
        opacity: 1;
    }
}